@mixin optimized-logo($name, $ext) {
  $mime: $ext;

  @if $ext == 'jpg' {
    $mime: 'jpeg';
  }

  &:before {
    background-image: url('/images/logos/#{$name}.#{$ext}');
    background-image: image-set(
      url('/images/optimized/logos/#{$name}.webp') type('image/webp'),
      url('/images/logos/#{$name}.#{$ext}') type('image/#{$mime}')
    );
  }
}

.logo {
  border: unset !important;
  border-radius: unset !important;
  margin: 0 !important;

  &:before {
    border: unset !important;
    border-radius: unset !important;
    content: '';
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    font-family: sans-serif;
  }

  // Skills

  &.java {
    &:before {
      background-image: url('/images/logos/java.svg');
    }
  }

  &.javascript {
    &:before {
      background-image: url('/images/logos/javascript.svg');
    }
  }

  &.typescript {
    &:before {
      background-image: url('/images/logos/typescript.svg');
    }
  }

  &.react {
    &:before {
      background-image: url('/images/logos/react.svg');
    }
  }

  &.kotlin {
    &:before {
      background-image: url('/images/logos/kotlin.svg');
    }
  }

  &.node {
    &:before {
      background-image: url('/images/logos/node.svg');
    }
  }

  // Conferences

  &.amegala {
    @include optimized-logo('amegala', 'png');
  }

  &.cypress {
    @include optimized-logo('cypress', 'png');
  }

  &.improving {
    @include optimized-logo('improving', 'png');
  }

  &.lockheed {
    &:before {
      background-image: url('/images/logos/lockheed.svg');
    }
  }

  &.kcdc {
    @include optimized-logo('kcdc', 'jpg');
  }

  &.midwestjs {
    @include optimized-logo('midwestjs', 'jpg');
  }
}
